

header{
    background: greenyellow;
    text-align: center;
}


header,p{
    text-align: center;
    font-weight:bold;
    font-size:100%;
    

}

li{
    background:lightblue;
    color: aliceblue;
    padding:5px 5px 5px 0px;
 
}

h1.foo{
    text-align: center;
}
h1#new-point{
    text-align: right;

}
.byline{
    font-style: italic;
    font-size: 80%;
}
main{
    background-color: greenyellow;
}
footer{
    background:greenyellow;
    text-align: center;
    font-size: 100%;

}
img#list-button-sky{
    width:80px;
    height:80px;
    float:center;
}
img#travel-2{
    width:80px;
    height:80px;
    float:center;
}
img#travel-3{
    width:80px;
    height:80px;
    float:center;
}


.cher{
    float:right;
}

footer ul{
    list-style-type: none;
}

button {
    float: left;
    width: 150px;
}

input {
    float: left;
    width: 45px;
}

div {
    clear: both;
}

body{
background: lightgreen;

}