.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
}

.redBackground {
    background-color: red;
}

.yellowBackground {
    background-color: yellow;
}

.purpleBackground {
    background-color: purple;
}